header{
     background-color: #0b4d8c;
     text-align: center;
     color: white;
     padding: 5px;
     width: 100%;
     font-size: 20px;
    }
    #first img{
        text-align: center;
        width: 100%;
    }
    .second{
        display: flex;
       flex-direction: row;
       justify-content: center;
       gap: 10px;
       padding-top: 5%;
       
    }
   .pinky{
    background-color: #ff3377;
    font-size: 40px;
    padding: 70px;
    text-align: center;
    
   }
   .third{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}
.third img {
    width: 430px;            
    height: 430px;           
    object-fit: cover;      
}
   .fourth{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
footer{
    background-color:#0b4d8c;
    text-align: center;
    color: white;
    padding: 30px;
    width: 100%;

}